{% load static %}

<section id="testimonial" class="bg_cover pt-115 pb-115" data-overlay="8" style="background-image: url({% static 'images/test-bg.jpg' %})">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-40">
                    <h5>Testimonial</h5>
                    <h2>What they say</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row testimonial-slied mt-40">
            {% for t in testimonial_data %}
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-thum">
                        <img src="{{t.client_image.url}}" alt="Testimonial">
                        <div class="quote">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="testimonial-cont">
                        <p>{{t.testimonial_data}} </p>
                        <h6>{{t.client_name}}</h6>
                        <span>{{t.designation}}</span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            {% endfor %}
        </div> <!-- testimonial slied -->
    </div> <!-- container -->
</section>